@use '../settings/colors' as color;
@use '../settings/font-sizes' as font-size;
@use '../settings/breakpoints' as breakpoints;


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: color.$background-color;
}

header {
  flex: 1;
  min-height: 97.5vh;
}
.cta{
  background-color: white;
  border-radius: 1rem;
  padding: 0.75rem 1.5rem;
  color: color.$text-color-primary;
  font-weight: 500;
  text-decoration: none;
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);

  &:hover {
    color: color.$text-color-primary;
    background-color: color.$text-color-secondary;
  }
}

.section__title {
  font-size: font-size.$main-text-title-size;
  font-weight: bold;
  margin-bottom: 1em;
}

.underline {
  position: relative;
  padding-bottom: .4em;

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    top: 80%;
    left: 0;
    transform-origin: bottom right;
    transition: transform .4s cubic-bezier(.86, 0, .07, 1);
  }

  &:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

@include breakpoints.tablet-up {
  .section__title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: font-size.$section-title-size;
  }
}